<!-- begin drupal content -->

<article class="bcls-article">
  <section class="bcls-section">
    <!-- section - like a concept -->
    <h2 id="section_title">Section title</h2>
    <!-- note -->
    <aside class="bcls-aside bcls-aside--information language-editable">
      This is the equivalent of class BCL-info note.
    </aside>
    <!-- image no border -->
    <figure class="bcls-figure">
      <img class="bcls-image--no-border" src="img.png" alt="Caption">
      <figcaption class="bcls-caption--image">Caption</figcaption>
    </figure>
    <!-- table -->
    <table class="bcls-table">
      <caption class="bcls-caption--table">Table Caption</caption>
      <thead class="bcls-table__head">
        <tr>
          <th>Table Header</th>
          <th>Table Header</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td>Table cell</td>
          <td>Table cell</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="bcls-section">
  <h2 id="section_2">Section 2</h2>
  <p>more stuff....</p>
  <!-- steps for a task -->
  <ol class="bcls-tasklist">
    <li>Step 1</li>
    <li>Step 2</li>
  </ol>
  <h3>Task sub-heading</h3>
  <!-- for class="bcls-tasklit" numbering will automatically pick up where it left off -->
  <ol class="bcls-tasklist">
    <li>Step 3</li>
  </ol>
</section>
</article>
<!-- end drupal content -->
