code {
  background-color: transparent;
  background: none;
  border: none;
  color: #dd712e;
  font-family: "Source Code Pro", "Andale Mono", "Monaco", "Courier New", monospace;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
}
pre,
pre.line-numbers,
pre.line-numbers > code {
  border: #64b0b7 1px solid;
  border-left: #64b0b7 0.5em solid;
  font-family: "Source Code Pro", "Andale Mono", "Monaco", "Courier New", monospace;
  font-size: 1.5rem;
  line-height: inherit;
  margin-bottom: 2em;
  margin-top: 2em;
  tab-size: 4;
  white-space: pre;
  width: 100%;
}
pre code,
pre.line-numbers code,
pre.line-numbers > code code {
  background-color: transparent;
  border: none;
  font-weight: normal;
}
.bcls-code {
  background-color: #f4f1f0;
  border: #64b0b7 1px solid;
  border-left: #64b0b7 0.5em solid;
  font-family: "Source Code Pro", "Andale Mono", "Monaco", "Courier New", monospace;
  font-size: 1.5rem;
  margin-bottom: 2em;
  margin-top: 2em;
  min-height: 6em;
  padding: 1em;
  tab-size: 4;
  white-space: pre-wrap;
  width: 100%;
}
