.learning-path-wrapper {
  position: fixed;
  top: 13em;
  right: 2em;
  width: 100px;
  max-width: 100px;
  text-align: center;
}

.learning-path-item {
  border: 1px #999 solid;
  border-radius: 5px;
  padding: 3px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  line-height: 1rem;
  vertical-align: middle;
}

.learning-path-item a {
  font-size: .9rem;
}

.learning-path-item.selected {
  background-color: #66cccc;
  border: 1px rgb(180, 98, 4) solid;
}

span.learn-path {
  background-color: #999;
  width: 3px;
  min-width: 3px;
  height: 10px;
  min-height: 10px;
  margin-top: 0;
  margin-bottom: 0;
}