.learning-path-wrapper {
  position: fixed;
  top: 5em;
  right: 2em;
  width: 100px;
  max-width: 100px;
  text-align: center;
}

.learning-path-item {
  border: 1px #999 solid;
  border-radius: 4px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.learning-path-item a {
  font-size: .6rem;
}

.learning-path-item.selected {
  background-color: navajowhite;
  border: 1px rgb(180, 98, 4) solid;
}

hr.learn-path {
  color: #999;
  width: 3px;
  height: 20px;
  min-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}